@import "mixins";
@import "header";

.main {
  width: 98%;
  margin: 0 auto;
  padding: 1rem;

  // prueba
  height: 5000px;

  &__about-me {
    height: 100%;
  }

  .about-me {
    &__title-container {
      width: max-content;
      padding: 0.8rem 0;
    }

    &__bar {
      margin-top: 0.8rem;
      display: block;
      width: 50%;
      height: 4px;
      background: linear-gradient(to right, var(--white), var(--first-color));
    }

    &__title {
      color: var(--color-title-section);
      font-size: var(--font-size-big);
      font-weight: var(--font-bold);
      letter-spacing: 0.1rem;
    }
  }
}
