@charset "UTF-8";
:root {
  /*Colors*/
  --first-color: #15b7b9;
  --second-color: #20dbc2;
  --firts-color-text: #0c2424;
  --second-color-text: #007a7a;
  --color-title-section: #104546;
  --white: #f5f5f5;
  /*Fonts*/
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  /*Font size*/
  --font-size-normal: 1.8rem;
  --font-size-medium: 2rem;
  --font-size-big: 2.4rem;
}

:root {
  /* --negro: #393939; */
  --blanco: #f1f1f1;
  /* Tipografía */
  --fonts-firts: "Poppins", sans-serif;
  /* --tipo-secundaria: Verdana; */
}

/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) { */
/* :root {
    --negro: #ececec;
  } */
/* } */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* @media (prefers-reduced-motion: reduce) {
/ * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
} */
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  background-color: var(--blanco);
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--fonts-firts);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header__bg {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: var(--first-color);
  box-shadow: 4px 8px 2px hsla(172deg, 86%, 46%, 0.3);
  border-radius: 0 0 60px 60px;
}
.header__description-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__description-container .header__description-text {
  color: var(--white);
  font-size: calc(var(--font-size-big) * 1.4);
  font-weight: var(--font-bold);
  text-align: center;
  line-height: 4rem;
  letter-spacing: 0.1rem;
}
.header__description-container .header__description-text span {
  font-size: calc(var(--font-size-big) * 1.6);
  color: var(--second-color-text);
  background: var(--second-color-text);
  background: linear-gradient(to right, #00f4f4 20%, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__description-container .header__btn {
  font-size: var(--font-size-medium);
  font-weight: var(--font-regular);
  letter-spacing: 0.1rem;
  background-color: #0d8f91;
  color: var(--white);
  margin-top: 4rem;
  padding: 1.8rem 2rem;
  border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  box-shadow: 0 0 5px rgba(12, 69, 70, 0.3607843137);
  transition: all 0.25s ease-in-out;
}
.header__description-container .header__btn:hover {
  background-color: var(--first-color);
  outline: 3px solid var(--white);
}
.header__bg-img {
  width: 100%;
  height: 100%;
}
.header__icon-mouse {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__icon-mouse .header__icon--container {
  width: 40px;
  margin-top: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__icon-mouse .header__icon--container .header__mouse {
  width: 90%;
  height: 100%;
}
.header__icon-mouse .header__icon--container .header__arrow-mouse {
  width: 60%;
  height: 100%;
  animation: 0.5s linear 1s infinite alternate down;
}
@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}
.header__nav {
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100%;
  padding: 0 1.8rem;
  background: linear-gradient(to right, rgba(108, 106, 106, 0.1215686275), rgba(4, 126, 126, 0.5411764706));
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header .nav-mobile {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 100%;
  opacity: 0;
  transform: translateX(-500px);
  background-color: rgba(12, 69, 70, 0.3607843137);
  transition: all 0.45s ease-in;
}
.header .nav-mobile.active {
  opacity: 1;
  transform: scale(1);
  border-radius: 0;
}
.header .nav-mobile__menu {
  height: 100%;
  width: 50%;
  transition: all 0.45s ease-in-out;
  background: linear-gradient(to right, rgba(70, 147, 155, 0.9450980392), rgba(4, 126, 126, 0.7882352941));
  transform: translateX(-2000px);
  border-radius: 0 2.8rem 2.8rem 0;
  color: var(--white);
  font-size: calc(var(--font-size-normal) * 1.2);
  font-weight: var(--font-regular);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.header .nav-mobile__menu.active {
  transform: translateX(0);
}
.header .nav-mobile__menu li {
  margin: 0 1.5rem;
  position: relative;
}
.header .nav-mobile__menu li span {
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 0 2rem;
  margin-top: 0.4rem;
  background-color: var(--white);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header .nav-mobile__menu li:hover > span {
  width: 100%;
}
@media (min-width: 880px) {
  .header .nav-mobile {
    display: none;
  }
}
.header__nav-wrapper {
  text-align: center;
  letter-spacing: 0.1rem;
  width: 1300px;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__nav-wrapper .header__logo span {
  color: var(--firts-color-text);
  font-size: calc(var(--font-size-big) * 1.4);
  font-weight: var(--font-bold);
  background: var(--second-color-text);
  background: linear-gradient(to right, #00f4f4 20%, #f5f5f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav-wrapper .header__menu {
  color: var(--white);
  font-size: var(--font-size-normal);
  font-weight: var(--font-regular);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header__nav-wrapper .header__menu li {
  margin: 0 1.5rem;
  position: relative;
}
.header__nav-wrapper .header__menu li span {
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 0 2rem;
  background-color: var(--white);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__nav-wrapper .header__menu li:hover > span {
  width: 100%;
}
@media (min-width: 880px) {
  .header__nav-wrapper .header__menu {
    display: flex;
  }
}
.header__nav-wrapper .header__nav-bar-container {
  width: 48px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.header__nav-wrapper .header__nav-bar-container:hover > .header__nav-bar,
.header__nav-wrapper .header__nav-bar-container:hover > .header__nav-bar::after,
.header__nav-wrapper .header__nav-bar-container:hover > .header__nav-bar::before {
  background-color: var(--second-color);
}
@media (min-width: 880px) {
  .header__nav-wrapper .header__nav-bar-container {
    display: none;
  }
}
.header__nav-wrapper .header__nav-bar-container .header__nav-bar {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--white);
  transition: all 0.25s ease-in-out;
}
.header__nav-wrapper .header__nav-bar-container .header__nav-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--white);
  transition: all 0.25s ease-in-out;
}
.header__nav-wrapper .header__nav-bar-container .header__nav-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--white);
  transition: all 0.25s ease-in-out;
}
.header__nav-wrapper .header__nav-bar-container.active > .header__nav-bar {
  transform: rotate(-45deg);
}
.header__nav-wrapper .header__nav-bar-container.active > .header__nav-bar::before {
  top: -10px;
  left: 9px;
  width: 22px;
  transform: rotate(90deg);
}
.header__nav-wrapper .header__nav-bar-container.active > .header__nav-bar::after {
  top: 9px;
  left: 9px;
  width: 22px;
  transform: rotate(90deg);
}

.main {
  overflow: hidden;
  width: 100%;
  margin: 50px auto;
}
.main__about-me {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: none;
  align-items: none;
}
@media (max-width: 768px) {
  .main__about-me {
    height: 100%;
  }
}
.main .about-me__title-container {
  width: fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}
.main .about-me__bar {
  margin-top: 0.8rem;
  display: block;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, var(--white), var(--first-color));
}
.main .about-me__title {
  color: var(--color-title-section);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.main__about-me-content {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.main__about-me-content .about-me__circles-photo {
  position: relative;
}
.main__about-me-content .about-me__circles-photo .bg-circles-container {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
  width: 200px;
}
.main__about-me-content .about-me__circles-photo .bg-circles-container img {
  width: 100%;
}
.main__about-me-content .about-me__photo-container {
  overflow: hidden;
  border-radius: 10px;
  height: auto;
  max-width: 100%;
  min-width: 200px;
  margin: 4rem;
  box-shadow: 10px 10px 0 hsla(172deg, 75%, 49%, 0.3);
}
.main__about-me-content .about-me__photo-container img {
  width: 300px;
  height: 300px;
}
.main__about-me-content .main__about-me-description {
  min-width: 280px;
  width: 60%;
  max-width: 500px;
  padding: 1rem;
  align-self: flex-end;
}
.main__about-me-content .main__about-me-description p {
  text-align: left;
  color: var(--color-title-section);
  font-size: var(--font-size-normal);
  line-height: 2.4rem;
  letter-spacing: 0.15rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.main__about-me-content .main__about-me-description p span {
  color: var(--first-color);
  font-weight: var(--font-bold);
}

body::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
body::-webkit-scrollbar-thumb {
  background: var(--second-color-text);
  border-radius: 100vh;
}
body::-webkit-scrollbar-track {
  background: rgba(12, 69, 70, 0.3607843137);
}
body {
  scrollbar-face-color: var(--second-color-text);
  scrollbar-track-color: rgba(12, 69, 70, 0.3607843137);
}

.main__skills {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: none;
}
.main__skills .skills__title-container {
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
}
.main__skills .skills__bar {
  margin-top: 0.8rem;
  display: block;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, var(--white), var(--first-color));
}
.main__skills .skills__title {
  color: var(--color-title-section);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.main__skills .skills-slider {
  flex-grow: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main__skills .skills-slider .owl-carousel.owl-loaded {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.main__skills .skills-slider__container {
  height: 300px;
  width: 100%;
  background-color: var(--first-color);
  overflow: hidden;
  border-radius: 80px 0 80px 0;
}
.main__skills .skills-slider__skill {
  height: 100px;
  width: 100px;
  padding: 0.5rem;
}
.main__skills .skills-slider__skill img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.education {
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 768px) {
  .education {
    height: 100%;
    margin-bottom: 2rem;
  }
}
.education__title-container {
  width: fit-content;
  height: fit-content;
  margin-bottom: 4rem;
}
.education__title-container .education__title {
  color: var(--color-title-section);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.education__title-container .education__bar {
  margin-top: 0.8rem;
  display: block;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, var(--white), var(--first-color));
}
.education .education-container-cards {
  position: relative;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-grow: 2;
}
.education .education-container-cards .education-bg-circles {
  position: absolute;
  top: 50px;
  right: -150px;
}
.education .education-container-cards .education-bg-circles img {
  width: 250px;
}
.education .education-container-cards .education-container__card {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: rgba(21, 182, 185, 0.6823529412);
  border-radius: 0.8rem;
  padding: 1.8rem;
  transition: all 0.25s ease-in-out;
  position: relative;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.education .education-container-cards .education-container__card:hover {
  transform: scale(1.02);
}
.education .education-container-cards .education-container__card:hover {
  box-shadow: 8px 8px 0 hsla(172deg, 75%, 49%, 0.3);
  cursor: pointer;
}
.education .education-container-cards .education-container__card:hover img {
  transform: scale(1.1);
}
.education .education-container-cards .education-container__card .education-container__card-img {
  max-width: 100%;
  height: auto;
}
.education .education-container-cards .education-container__card .education-container__card-img img {
  transition: all 0.25s ease-in-out;
  width: 250px;
}
.education .education-container-cards .education-container__card .education-container__card-title {
  color: var(--color-title-section);
  font-size: var(--font-size-normal);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
  text-align: center;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}

.Projects {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
@media (min-width: 1504px) {
  .Projects {
    height: auto;
  }
}
.Projects__title-container {
  width: fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}
.Projects .mixitup-control-active {
  box-shadow: 0 4px var(--first-color);
}
.Projects__btn-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-title-section);
  margin: 5rem 0;
}
.Projects__btn-filter button {
  padding: 0.2rem;
  margin: 0 2rem 1.6rem 0;
  transition: all 0.25s;
}
.Projects__btn-filter button:hover {
  box-shadow: 0 2px var(--first-color);
  cursor: pointer;
}
.Projects__title {
  color: var(--color-title-section);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.Projects__bar {
  margin-top: 0.8rem;
  display: block;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, var(--white), var(--first-color));
}

.projects-container {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}
.projects-container .projects-container__card {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 300px;
}
.projects-container .projects-container__card:hover .card__project-tech .card__tech-item {
  transform: translateX(-55px);
}
.projects-container .projects-container__card .card__project-tech {
  height: 100%;
  position: absolute;
  z-index: -10;
  transform: translateX(0);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.projects-container .projects-container__card .card__project-tech .card__tech-item--1 {
  transition-delay: 0.1s;
}
.projects-container .projects-container__card .card__project-tech .card__tech-item--2 {
  transition-delay: 0.2s;
}
.projects-container .projects-container__card .card__project-tech .card__tech-item--3 {
  transition-delay: 0.3s;
}
.projects-container .projects-container__card .card__project-tech .card__tech-item--4 {
  transition-delay: 0.4s;
}
.projects-container .projects-container__card .card__project-tech .card__tech-item--5 {
  transition-delay: 0.5s;
}
.projects-container .projects-container__card .card__tech-item {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsla(172deg, 75%, 49%, 0.252);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.projects-container .projects-container__card .card__tech-item img {
  width: 60%;
}
.projects-container .projects-container__card .card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.projects-container .projects-container__card .card:hover .card__img {
  transform: scale(1.1);
}
.projects-container .projects-container__card .card__img {
  width: 94%;
  border-radius: 1rem;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.projects-container .projects-container__card .card__name-project {
  text-align: center;
  padding: 1rem 0;
  font-size: var(--font-size-normal);
  font-weight: var(--font-regular);
  color: var(--color-title-section);
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.projects-container .projects-container__card .card__buttons {
  overflow: hidden;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, hsla(181deg, 55%, 20%, 0.375) 10%, rgba(51, 51, 51, 0.012));
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.projects-container .projects-container__card .card__button {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  color: var(--white);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.projects-container .projects-container__card .card__button--primary {
  background-color: #20dbc2;
}
.projects-container .projects-container__card .card__button--primary:hover {
  background-color: hsla(172deg, 75%, 49%, 0.453);
  color: var(--color-title-section);
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.projects-container .projects-container__card .card__button--secondary {
  background-color: hsla(172deg, 75%, 49%, 0.453);
}
.projects-container .projects-container__card .card__button--secondary:hover {
  background-color: #20dbc2;
  color: var(--color-title-section);
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}

.footer {
  width: 100%;
  height: 180px;
  padding: 1.5rem;
  background-color: var(--first-color);
  box-shadow: -4px -4px 2px hsla(172deg, 86%, 46%, 0.3);
  border-radius: 60px 60px 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  color: var(--color-title-section);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 2px rgba(12, 69, 70, 0.3607843137);
}
.footer__contacts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--white);
  font-size: var(--font-size-big);
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
}
.footer__contact {
  width: 40px;
}
.footer__contact img {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer__contact img:hover {
  transform: scale(1.2);
}
.footer__copy {
  color: var(--white);
  font-size: 1rem;
  font-weight: var(--font-bold);
  letter-spacing: 0.1rem;
}

.arrow-top-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  margin: 2rem;
  cursor: pointer;
  opacity: 0;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.arrow-top-container.active {
  opacity: 1;
}
.arrow-top-container .arrow-top {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: rgba(32, 219, 194, 0.6235294118);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.arrow-top-container .arrow-top img {
  width: 80%;
}
.arrow-top-container .animation-arrow-top {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background-color: #15b6b9;
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes heartbeat {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

/*# sourceMappingURL=styles.css.map */
